@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "SVN-Gilroy";
  src:
    url("/path-to-your-font/SVN-Gilroy-Regular.woff2") format("woff2"),
    url("/path-to-your-font/SVN-Gilroy-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
